# MongoDB
MONGO_DB=youtube-clone

# Upload (files stored on server filesystem)
UPLOAD_BASE_URL=https://youtube.mostafadarwesh.com

# Auth0
AUTH0_ISSUER_URI=https://mostafa-youtube-clone.us.auth0.com/
AUTH0_AUDIENCE=https://youtube.mostafadarwesh.com/
AUTH0_USERINFO_ENDPOINT=https://mostafa-youtube-clone.us.auth0.com/userinfo
